#!include:.gitignore

.git/
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
docs/_build/
.dvc/tmp/
data/
.vscode/

!src/
!src/feral_vision/
!src/feral_vision/data/
!src/feral_vision/data/dataset_artifact.py
